# dependencies
node_modules

# production builds
dist
dist-electron
dist-renderer
build
release

# environment
.env
.env.local

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Backend Files

app/models/weights/*
logs/app.log